@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */



:root  {
  --background: 28 100% 98%;
  --foreground: 28 5% 10%;
  --card: 28 50% 98%;
  --card-foreground: 28 5% 15%;
  --popover: 28 100% 98%;
  --popover-foreground: 28 100% 10%;
  --primary: 28 91% 54%;
  --primary-foreground: 0 0% 100%;
  --secondary: 28 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -10 30% 95%;
  --muted-foreground: 28 5% 40%;
  --accent: 28 45% 93%;
  --accent-foreground: 28 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 28 5% 98%;
  --border: 28 30% 82%;
  --input: 28 30% 50%;
  --ring: 28 91% 54%;
  --radius: 0.5rem;
 }
 .dark {
  --background: 28 50% 7%;
  --foreground: 28 5% 90%;
  --card: 28 50% 7%;
  --card-foreground: 28 5% 90%;
  --popover: 28 50% 5%;
  --popover-foreground: 28 5% 90%;
  --primary: 28 91% 54%;
  --primary-foreground: 0 0% 100%;
  --secondary: 28 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -10 30% 15%;
  --muted-foreground: 28 5% 60%;
  --accent: -10 30% 15%;
  --accent-foreground: 28 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 28 5% 90%;
  --border: 28 30% 18%;
  --input: 28 30% 18%;
  --ring: 28 91% 54%;
  --radius: 0.5rem;
 }



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight;
  }
  h2 {
    @apply scroll-m-20 pb-4 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-2;
  }

}
